![alt text](images/pandas_logo.png)

## What problem does pandas solve?


>  Python has long been great for data munging and preparation, but less so for data analysis and modeling. pandas helps fill this gap, enabling you to carry out your entire data analysis workflow in Python without having to switch to a more domain specific language like R.

## Highlights
- A fast and efficient DataFrame object for data manipulation with __integrated indexing__;
- Tools for reading and writing data between in-memory data structures and different formats: __CSV and text files, Microsoft Excel, SQL databases, and the fast HDF5 format__;
- Intelligent data alignment and integrated handling of __missing data__: gain automatic label-based alignment in computations and easily manipulate messy data into an orderly form;
- Flexible __reshaping and pivoting__ of data sets;
- Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
- Columns can be inserted and deleted from data structures for size mutability;

- Aggregating or transforming data with a powerful group by engine allowing split-apply-combine operations on data sets;
- __High performance merging and joining of data sets__;
- __Hierarchical axis indexing__ provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
- __Time series-functionality__: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging. Even create domain-specific time offsets and join time series without losing data;
- Highly optimized for performance, with critical code paths written in Cython or C.
- Python with pandas is in use in a wide variety of academic and commercial domains, including Finance, Neuroscience, Economics, Statistics, Advertising, Web Analytics, and more.

[Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)

## Installing pandas

<img src="https://upload.wikimedia.org/wikipedia/en/c/cd/Anaconda_Logo.png" alt="Drawing" style="width: 300px;"/>

`> jupyter notebook`

In [ ]:
import matplotlib
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (12,8)

# Using pandas

In [4]:
import pandas as pd

## Series

In [ ]:
ds = pd.Series(data=[1,2,3,4], name='numbers', index=['a','b','c','d'])
ds.name

## DataFrame

In [ ]:
# DataFrame

In [ ]:
df = pd.DataFrame(data=[[1,2],[3,4]], index=['a','b'], columns=['height', 'weight'])
df

### Selection

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
#df['height']**2
#df.loc['a']-1

# access single value
df.at['a', 'weight']
df.iat[0,1]

# access group of rows and columns
df.loc['a', 'weight']

In [ ]:
%matplotlib inline
df.plot();

### Christmas Beer

In [2]:
!ls *.xlsx

'beer tasting.xlsx'   dt_fridge_sensor_backup.xlsx

In [6]:
beerpath = 'beer tasting.xlsx'
df = pd.read_excel(beerpath)

In [13]:
#df.columns
#df.set_index("Unnamed: 0", inplace=True)
df

            1  2  3  4  5  6  7
Unnamed: 0
Gaute       1  1  1  1  1  1  1
Joakim      2  1  2  6  2  5  5
Jonas       3  4  3  4  5  4  5
Marius      2  4  2  3  4  4  5
Magne-T     4  3  4  3  4  2  3
Ole-J       3  4  3  4  2  5  6
Sebastian   3  4  4  5  5  3  5
Terje       2  3  1  3  2  4  5
Thomas      2  4  1  4  4  5  4
Tor-Arne    3  2  0  5  4  4  4

In [ ]:
# columns, index, dtypes

In [ ]:
# transpose

In [12]:
# loc, iloc, at
df.at['Gaute', 4]

1

In [ ]:
# describe
# mean()
df.loc['Gaute']

In [ ]:
# drop Gaute
df.drop('Gaute', inplace=True)

In [ ]:
# plot (bar, pie)
%matplotlib inline
df.sum(axis=1).plot(kind='bar');#style='.', figsize=(8,8));

#### Who has the most refined taste? (highest spread)

In [ ]:
df.T.std().argmax()

hint: std, max(), argmax()

In [ ]:
df[1].value_counts()

### Apply

In [ ]:
df.apply(lambda x: x.min(), axis=1)

### Find the non-conformist!

Who deviates the most from the group?

In [14]:
(df - df.loc['Terje'])
df.sub(df.loc['Terje'], axis=1)

            1  2  3  4  5  6  7
Unnamed: 0
Gaute      -1 -2  0 -2 -1 -3 -4
Joakim      0 -2  1  3  0  1  0
Jonas       1  1  2  1  3  0  0
Marius      0  1  1  0  2  0  0
Magne-T     2  0  3  0  2 -2 -2
Ole-J       1  1  2  1  0  1  1
Sebastian   1  1  3  2  3 -1  0
Terje       0  0  0  0  0  0  0
Thomas      0  1  0  1  2  1 -1
Tor-Arne    1 -1 -1  2  2  0 -1

In [15]:
df.apply(lambda participant: df.sub(participant, axis=1).mean().mean(), axis=1)

Unnamed: 0
Gaute        2.242857
Joakim      -0.042857
Jonas       -0.757143
Marius      -0.185714
Magne-T     -0.042857
Ole-J       -0.614286
Sebastian   -0.900000
Terje        0.385714
Thomas      -0.185714
Tor-Arne     0.100000
dtype: float64

In [16]:
df.apply(lambda x: (df-x).mean().mean(), axis=1).abs().argmin()

4